{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Home</title>
<section class="home">
    <center>
        <font size="6">
<p>About me</p>
            </font>
<p>"This is my study website. In this website thay have study materials and books  "</p>

        <div align="middle"><a href="https://www.extramarks.com/ncert-solutions-for-class-6-science">1. Science</a></div>
        <div align="middle"><a href="https://www.vedantu.com/revision-notes/cbse-class-12-physics-notes">2. Physics</a></div>

        </div>
        </font>
        </center>
</section>