{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Projects</title>
        <section class="project-area">
            <center>
            <font size="6">

<p>PROJECTS</p>

            </font>
                <div id="projects" class="project-item">
                    <h2>PROJECT 1 NAME</h2>

<p>This is my first study website project which containing five sections register, homepage, contact,project,gallery</p>

                </div>
                <div id="project" class="project-item">
                    <h2>PROJECT 2 NAME </h2>

<p>My second project is my todo application where user can add a daily task and update a task,delete a task</p>

                </div>
            </div>
            </center>
        </section>